:root {
  --border-color: #5f6368;
  --body-bg: #202124;
  --text-color: #e8eaed;
  --fade-text-color: #9aa0a6;
  --active-text-color: #fff;
  --card-bg: #2d2e30;
  --card-border-radius: 10px;
  --container-width: 900px;
  --header-height: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body-bg);
  color: var(--text-color);
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  line-height: 1.5;
}

a {
  color: inherit;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  margin: 30px 0;
}

input, textarea {
  width: 100%;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: inherit;
  border: none;
  resize: none;
}

.form-group {
  margin-bottom: 15px;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 10px 17px;
  font-size: 1rem;
  outline: none;
  background: transparent;
  color: #333;
  cursor: pointer;
  background: rgb(129, 230, 217);

  &:hover {
    background: rgb(79, 209, 197);
  }
}

.card {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: var(--card-border-radius);
  width: 100%;
  font-size: 1rem;
  background: var(--card-bg);
  margin-bottom: 15px;
}